.tab-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  padding: 4px 8px;
}

.ant-tabs {
  flex: 1;
  background-color: var(--ant-color-bg-layout);

  & > .ant-tabs-nav {
    background-color: var(--ant-color-bg-container);
    box-shadow: var(--ant-box-shadow);
  }

  .ant-tabs-tab .ant-tabs-tab-btn,
  .ant-tabs-tab-btn:focus:not(:focus-visible) {
    color: var(--ant-color-text-tertiary);
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--ant-color-primary);
    text-shadow: 0 0 0.25px currentcolor;
  }

  .ant-tabs-content:focus-visible {
    outline: none;
  }

  > .ant-tabs-nav .ant-tabs-nav-wrap {
    height: 78px;
    padding-block: 10px;
  }

  &.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    padding-block: 0;
  }

  .ant-tabs-body-holder {
    display: flex;
  }

  .ant-tabs-body {
    display: flex;
    flex-direction: column;

    .ant-tabs-content:not(.ant-tabs-content-hidden) {
      display: flex;
      flex: 1;
    }
  }
}
