.tab-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
}

.ant-tabs {
  flex: 1;
  background-color: white;
}
.ant-tabs > .ant-tabs-nav {
  background-color: #f9fafb;
}
.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible) {
  color: #ccc;
}

.dark-mode .ant-tabs {
  background-color: #141414;
}
.dark-mode .ant-tabs > .ant-tabs-nav {
  background-color: #2a2a2a;
}
.dark-mode .ant-tabs .ant-tabs-tab .ant-tabs-tab-btn,
.dark-mode .ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible) {
  color: #666;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #dc5b1d;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  padding-block: 10px;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding-block: 0;
}

.ant-tabs .ant-tabs-content-holder {
  display: flex;
}

.ant-tabs .ant-tabs-content {
  display: flex;
  flex-direction: column;
}

.ant-tabs .ant-tabs-content .ant-tabs-tabpane:not(.ant-tabs-tabpane-hidden) {
  display: flex;
  flex: 1;
}
