@use '@/shared/assets/variables' as var;

.team-distribution-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 1.5rem;
  margin-block-end: 12rem;
  &.shared-view {
    margin-block-end: 10rem;
  }
}

.team-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shuffle-loading {
  font-size: 48px;

  &.ant-spin .ant-spin-dot-holder {
    color: var.$primary-color;
  }
}

.team-card {
  height: 100%;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes rainbow-flow {
  0% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.player-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.25rem;
  background-color: #f9fafb;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }
  &.rainbow {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 4px;
      background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
      background-size: 400%;
      animation: rainbow-flow 6s linear infinite;
      z-index: -1;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 3px;
    }
  }
}

.dark-mode {
  .player-item {
    background-color: #2a2a2a;
  }
}

.share-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.ant-btn.ant-btn-icon-only.share-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: #666;
  background-color: #f0f0f0;
}

.ant-btn.ant-btn-icon-only.share-icon-button:hover {
  transform: scale(1.05);
}

.dark-mode .ant-btn.ant-btn-icon-only.share-icon-button {
  color: #ddd;
  background-color: #4a4a4a;
}

.ant-btn.ant-btn-icon-only.share-icon-button.kakao {
  background: #fee500;
  color: #000000;
}

.ant-btn.ant-btn-icon-only.share-icon-button.kakao:hover {
  background: #fdd835;
}

/* .share-icon-button.clipboard {
  background: #f0f0f0;
  color: #666;
} */

/* .share-icon-button.clipboard:hover {
  background: #e0e0e0;
  color: #333;
} */

/* 아이콘 버튼들의 호버 효과 개선 */
.share-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}

.share-icon-button:hover {
  transform: translateY(-2px);
}

.share-icon-button:active {
  transform: translateY(0);
}

/* 물결 효과 */
.share-icon-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.share-icon-button:active::after {
  transform: scale(2);
  opacity: 0;
}

.team-row {
  justify-content: center;
  padding-inline: 1rem;
}

.team-badge {
  background-color: #ff681f;
}

.arrow-big-up {
  width: 12px;
  height: 12px;
  color: #ff681f;
}

@media (max-width: 576px) {
  .team-distribution-container {
    padding-block-start: 0;
  }

  .ant-card .ant-card-body {
    padding: 8px;
  }

  .share-icons {
    margin-bottom: 1.2rem;
  }
}

//-------------------------

@keyframes animate {
  0% {
    box-shadow: 0 0 10px #00ff0077, inset 0 0 10px #00ff0077;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 7px #00ff0077, inset 0 0 12px #00ff0077;
  }
  40% {
    box-shadow: 0 0 7px #00ff0077, inset 0 0 15px #00ff0077;
  }
  60% {
    box-shadow: 0 0 15px #00ff0077, inset 0 0 15px #00ff0077;
  }
  80% {
    box-shadow: 0 0 20px #00ff0077, inset 0 0 20px #00ff0077;
  }
  100% {
    box-shadow: 0 0 10px #00ff0077, inset 0 0 10px #00ff0077;
    filter: hue-rotate(360deg);
  }
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card {
  position: absolute;
  width: inherit;
  height: 44px;
  left: -14px;
  right: -10px;
  filter: url(#wavy) blur(1px);
}
.card:before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: 0px;
  left: 0px;
  right: -25px;
  border: 4px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
  animation: animate 5s linear infinite;
}
.card:after {
  content: '';
  position: absolute;
  top: -4px;
  bottom: 0px;
  left: 0px;
  right: -25px;
  border: 4px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #fff, inset 0 0 10px #fff;
}
.svg-wavy {
  width: 0;
  height: 0;
}

body:not(.dark-mode) {
  @keyframes animate-light {
    0% {
      box-shadow: 0 0 10px #ff681f77, inset 0 0 10px #ff681f77;
      filter: hue-rotate(0deg);
    }
    20% {
      box-shadow: 0 0 7px #ff681f77, inset 0 0 12px #ff681f77;
    }
    40% {
      box-shadow: 0 0 7px #ff681f77, inset 0 0 15px #ff681f77;
    }
    60% {
      box-shadow: 0 0 15px #ff681f77, inset 0 0 15px #ff681f77;
    }
    80% {
      box-shadow: 0 0 20px #ff681f77, inset 0 0 20px #ff681f77;
    }
    100% {
      box-shadow: 0 0 10px #ff681f77, inset 0 0 10px #ff681f77;
      filter: hue-rotate(360deg);
    }
  }
  .card:before {
    border: 4px solid #ff681f;
    box-shadow: 0 0 10px #ff681f, inset 0 0 10px #ff681f;
    animation: animate-light 5s linear infinite;
  }

  .card:after {
    border: 4px solid #ff681f;
    box-shadow: 0 0 10px #ff681f, inset 0 0 10px #ff681f;
  }
}
