@use '@/shared/assets/variables' as var;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-layout {
  min-height: 100vh;
}

.app-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  @media (max-width: 576px) {
    justify-content: space-between;
    padding-inline: 2rem;
  }
}

.app-content {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

body.dark-mode .app-layout {
  background-color: var.$header-background-color-dark;
}

body.light-mode .app-layout {
  background-color: var.$header-background-color-light;
}
