.team-setup-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 1.5rem;
}

.team-setup-header {
  text-align: center;
}

.team-option-card {
  text-align: center;
  height: 100%;
  transition: all 0.3s ease;
  border: 2px solid #f0f0f0;
}

.dark-mode .team-option-card {
  border: 2px solid #444;
}

.ant-card.team-option-card .ant-card-body {
  padding: 0;
}

.team-option-card.selected {
  border: 2px solid var(--primary-color, #ff681f);
}

.team-option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0;
}

.icon-selected {
  color: var(--primary-color, #ff681f);
}

.icon-default {
  color: #666;
}

.option-title {
  margin: 0 !important;
}

.next-button {
  height: 48px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.team-option-row {
  padding-inline: 1rem;
}

@media (max-width: 576px) {
  .team-setup-header h4 {
    margin-block: 0.5em;
  }
}
